<% layout('layouts/boilerplate') %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="cluster-map" style='width: 100%; height: 300px;'></div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const posts = {features:<%-JSON.stringify(posts)%>}
    </script>